<h1>Create an article</h1>

<% if @article.errors.any? %>
  <h2>The following errors prevented the articles from getting created</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %> 
  </ul> 
<% end %>

<form action="/articles/new" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title">
  <label for="">Description:</label>
  <input type="text" name="description">
  <label for="">Type Here</label>
  <textarea name="content" id="" cols="30" rows="10"></textarea>
  <br></br>
  <input type="submit" value="submit">
</form>

<a href="/articles">Back to articles listing</a>