<div>
  <p><%= session['error'] %><% session['error'] = nil %></p>
</div>

<h1>Create an article</h1>

<form action="/articles/new" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title">
  <label for="">Description:</label>
  <textarea placeholder="Description" name="description"></textarea>
  <br></br>
  <input type="submit" value="submit">
</form>

<a href="/">Back to articles listing</a>