<h1>Listing all articles</h1>
<p><a href="/articles/new">Create Article</a></p>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @articles.each do |article| %>
  <tr>
    <td><%= artile.title %></td>
    <td><%= article.description %></td>
    <td><%= <a href="/articles/edit/:id">Edit</a> %></td>
    <td><%= <a href="/articles/show">Show</a> %></td>
  </tr>
  <% end %>
</table>